@model Bookish.Models.View.BookViewModel

@{
    Layout = "_Layout";
}

<h2>Update book</h2>


<div>
    @using (Html.BeginForm("EditBook", "Library", FormMethod.Post))
    {
        
        <div class="messageLabel">
            @Html.HiddenFor(model => model.id)
        </div>
        
        <div class="messageLabel">
            @Html.LabelFor(model => model.title)
        </div>

        <div class="messageArea">
            @Html.TextBoxFor(model => model.title)
        </div>
        <div class="messageLabel">
            @Html.LabelFor(model => model.author_id)
        </div>

        <div class="messageArea">
            @Html.TextBoxFor(model => model.author_id)
        </div>
        <div class="messageLabel">
            @Html.LabelFor(model => model.genre_id)
        </div>

        <div class="messageArea">
            @Html.TextBoxFor(model => model.genre_id)
        </div>
        <div class="messageLabel">
            @Html.LabelFor(model => model.year_published)
        </div>

        <div class="messageArea">
            @Html.TextBoxFor(model => model.year_published)
        </div>
        <div class="messageLabel">
            @Html.LabelFor(model => model.image)
        </div>
        <div class="messageArea">
            @Html.TextBoxFor(model => model.image)
        </div>
        
        
        <input class="myButton" type="submit" value="Submit">
    }
</div>