@model Bookish.Models.View.InventoryViewModel;
@{
    ViewData["Title"] = "Inventory";
}

<div class="inventoryContainer">
    <div class="card searchBarContainer">
        <span style="position:relative;" onclick="searchByTitle()">
            <input type="text" id="searchBookInput" name="searchBookInput" placeholder="Search for a book" value="@Model.BookTitle" oninput="sortTableBySearch()">
        </span>
    </div>

    <div class="spacer"></div>
    <div class="card tableContainer">
        <div class="table-wrapper">
            <table class="fl-table" id="inventoryTable">
                <thead>
                <tr>
                    <th onclick="sortTableByTitle()">Title</th>
                    <th onclick="sortTableByAuthor()">Author</th>
                    <th onclick="sortTableByGenre()">Genre</th>
                    <th onclick="sortTableByYear()">Year</th>
                    <th >Currently out</th>
                    <th style="display: none">Book Id</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var inventory in Model.Inventory)
                {
                    <tr onclick="ShowCheckedOutModal(@inventory.ToJSON())">
                        <td>@inventory.title</td>
                        <td>@inventory.author</td>
                        <td>@inventory.genre</td>
                        <td>@inventory.year_published</td>
                        <td>@(inventory.currently_out ? "X" : "")</td>
                        <td style="display: none">@inventory.book_id</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <partial name="CheckOutModal" model="@Model"/>
</div>
<script>
window.onload = () => {
setTimeout(() => {
      sortByBookId(@Model.BookId)
      if (@Model.BookId === 0) {
          sortTableBySearch()
      } else {
          const input = document.getElementById("searchBookInput");
          input.placeholder = "Currently searching by Id of " + bookId + "... Click here to search by title";
          input.disabled = true;
      }
    }, 50)
}
</script>